.contest {
}

.contest__head {
  padding: 0 @mobile-padding;
  padding-top: 44px;
  padding-bottom: 3px;

  @media (min-width: @tablet-width) {
    padding-top: 91px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 @desktop-padding;
    padding-top: 91px;
    padding-bottom: 65px;
  }
}

.contest__description {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 65px;
    font-size: 18px;
  }
}

.contest__description span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.contest__form {
  display: grid;

  @media (min-width: @tablet-width) {
    gap: 52px;
    padding: 0 @mobile-padding;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 51px 69px;
    align-items: end;
    padding: 0 @desktop-padding;
  }
}

.contest__group-wrapper {
  padding: 0 @mobile-padding;

  &--user {
    padding-top: 32px;
    padding-bottom: 42px;

    @media (min-width: @tablet-width) {
      order: 1;
      padding: 0;
    }
  }

  &--contacts {
    padding-top: 32px;
    padding-bottom: 42px;

    @media (min-width: @tablet-width) {
      order: 3;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
    }
  }

  &--achievements {
    padding-top: 39px;
    padding-bottom: 42px;

    background-color: @color-gray;

    @media (min-width: @tablet-width) {
      order: 4;
      padding: 0;

      background-color: @color-white;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
      grid-row: 3/ 4;
    }
  }

  &--applications {
    padding-top: 39px;
    padding-bottom: 40px;

    background-color: @color-gray;

    @media (min-width: @tablet-width) {
      padding: 0;
      order: 2;

      background-color: @color-white;
    }
  }

  &--rewiew {
    padding-top: 38px;
    padding-bottom: 38px;

    @media (min-width: @tablet-width) {
      order: 5;
      padding: 0;
    }

    @media (min-width: @desktop-width) {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
    }
  }

  &--button {
    padding-bottom: 16px;

    @media (min-width: @tablet-width) {
      order: 6;
      padding: 0;
      padding-top: 14px;
      padding-bottom: 48px;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 1px;

      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }
  }
}

.contest__group {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  border: none;
}

.contest__group-user {
  display: grid;
  gap: 17px;

  @media (min-width: @tablet-width) {
    gap: 52px;
  }

  @media (min-width: @desktop-width) {
    gap: 53px;
  }
}

.contest__group-contacts {
  display: grid;
  gap: 17px;

  .contest__legend {
    display: none;
  }

  @media (min-width: @tablet-width) {
    gap: 29px;

    padding: 30px 58px 27px 58px;

    border: 2px solid @color-dark-gray;

    .contest__legend {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 70px;

    padding: 28px 58px 13px 58px;
  }
}

.contest__group-applications {
  padding-top: 34px;

  @media (min-width: @tablet-width) {
    padding: 38px 58px 52px 58px;
    border: 2px solid @color-dark-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 38px 0 52px 0;
  }
}

.contest__group-achievements {
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    padding: 38px 58px 48px 58px;
    border: 2px solid @color-dark-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 38px 0 55px 0;
  }
}

.contest__group-rewiew {
  padding-top: 16px;

  @media (min-width: @tablet-width) {
    padding: 31px 58px 41px 58px;
    border: 2px solid @color-dark-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 28px 58px 33px 58px;
  }
}

.contest__group-button {
  display: grid;
  gap: 34px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
  }
}

.contest__list {
  .list();
  display: grid;

  &--checkbox {
    gap: 43px;

    @media (min-width: @desktop-width) {
      grid-template-columns: max-content max-content max-content;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;

      column-gap: 57px;
      row-gap: 43px;

      padding: 0 20px 0 58px;
    }
  }

  &--radio {
    gap: 34px;

    @media (min-width: @desktop-width) {
      gap: 35px;

      padding: 0 72px;
    }
  }
}

.contest__legend {
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: @color-pink;

  @media (min-width: @tablet-width) {
    padding: 0 31px;
    line-height: 30px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 31px;

    br {
      display: none;
    }
  }
}

.contest__label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-pink;
}

.contest__label-user {
  display: grid;
  gap: 5px;

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content 1fr;
    gap: 18px;
    align-items: center;
  }
}

.contest__label-contacts {
  display: grid;
  gap: 5px;

  @media (min-width: @tablet-width) {
    position: relative;

    gap: 10px;

    &::before {
      position: absolute;
      width: 59px;
      height: 59px;
      top: 2px;
      right: 2px;
      content: "";

      background-color: @color-dark-gray;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone::before {
      background-image: url("../../img/contacts-phone-icon.svg");
    }

    &--email::before {
      background-image: url("../../img/contacts-mail-icon.svg");
    }
  }
}

.contest__label-user .contest__label-title {
  padding-left: 23px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
  }
}

.contest__label-contacts .contest__label-title {
  padding-left: 24px;

  @media (min-width: @tablet-width) {
    order: 2;
    padding-left: 19px;
  }
}

.contest__field {
  box-sizing: border-box;
  width: 100%;
  padding: 14.5px 20px;

  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;

  &--textarea {
    min-height: 201px;
    padding: 12.5px 20px;

    letter-spacing: normal;
    font-family: inherit;
    color: @color-blue;

    resize: none;

    @media (min-width: @tablet-width) {
      min-height: 193px;
    }

    @media (min-width: @desktop-width) {
      min-height: 128px;
    }
  }
}

.contest__control {
  display: grid;
  grid-template-columns: max-content 1fr;
  // gap: 20px;
  align-items: center;

  font-size: 18px;
  line-height: 30px;
  color: @color-blue;

  .contest__list--checkbox & {
    gap: 20px;
  }

  .contest__list--radio & {
    gap: 30px;
  }
}

.contest__mark,
.contest__field {
  border: 2px solid @color-dark-gray;
  border-radius: 3px;

  .contest__control:hover > & {
    border-color: @color-blue;
  }

  .contest__control:active > & {
    border-color: @color-pink;
  }
}

.contest__control:hover .contest__mark,
.contest__field:hover {
  border-color: @color-blue;
}

.contest__control:active .contest__mark,
.contest__field:focus {
  border-color: @color-pink;
  outline: none;
}

.contest__button {
  .button();
  width: 100%;
  padding: 14.5px 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;

  background-color: @color-green;
  border: 2px solid @color-green;
  border-radius: 3px;

  &:hover {
    background-color: @color-dark-green;
    border-color: @color-dark-green;
  }

  &:active {
    color: fade(@color-white, 30%);
  }

  &:disabled {
    background-color: @color-dark-gray;
    border-color: @color-dark-gray;
  }
}

.contest__footnote {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: end;
  }
}

.contest__footnote-mark {
  color: @color-pink;
}

.contest__footnote-span {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.contest__popup {
  display: none;
  padding: 0 @mobile-padding;
  padding-top: 44px;
  padding-bottom: 52px;
}

.contest__popup-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contest__popup-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
