.contest {
}

.contest__head-wrapper {
  padding-top: 54px;
  padding-bottom: 55px;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
    padding-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

.contest__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.contest__description span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.contest__form {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: @tablet-width - 2 * @desktop-form-padding;
    padding: 0 @desktop-form-padding;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - 2 * @desktop-form-padding;
    padding: 0 @desktop-form-padding;
  }
}

.contest__form-group {
  margin: 0;
  padding: 0;
  border: none;

  &&--controls {
    @media (max-width: @mobile-width-only) {
      background-color: @color-gray;
    }
  }
}

.contest__group {
  @media (max-width: @mobile-width-only) {
    width: @mobile-width - 2 * @mobile-form-padding;
    padding: 0 @mobile-form-padding;
    margin: 0 auto;
  }
}

.contest__group-user {
  @media (max-width: @mobile-width-only) {
    // padding-bottom: 54px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.contest__group-achievements {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding: 54px 60px;
    border: 2px solid @color-dark-gray;
  }
}

.contest__group-contacts {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding: 46px 60px 37px 60px;
    border: 2px solid @color-dark-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 44px 60px 55px 60px;
  }
}

.contest__group-applications {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding: 54px 60px;
    border: 2px solid @color-dark-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 54px 74px 54px 74px;
  }
}

.contest__group-rewiew {
  padding-top: 42px;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    padding: 47px 60px 53px 60px;
    border: 2px solid @color-dark-gray;
  }

  @media (min-width: @desktop-width) {
    padding: 44px 60px 45px 60px;
  }
}

.contest__group-button {
  padding-top: 10px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.contest__list-checkbox {
  display: grid;
  gap: 47px;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contest__list-radio {
  display: grid;
  gap: 38px;

  @media (min-width: @desktop-width) {
    gap: 39px;
  }
}

.contest__form-label {
  color: @color-pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}

.contest__form-label:not(:last-child) {
  margin-bottom: 29px;
}

.contest__form-field {
  // width: 100%;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest__form-field::placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest__button {
  .button();
  width: 276px;
  padding: 13px 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: @color-white;
  background-color: @color-dark-green;
  border: 2px solid @color-dark-green;
  border-radius: 1px;
}

.contest__form-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__form-footnote-mark {
  color: @color-pink;
}

.contest__popup {
  display: none;
  padding: 44px 22px 52px 22px;
}

.contest__popup-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contest__popup-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
