.contacts {
}

.contacts__content {
  padding: 41px @mobile-padding 34px @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px @desktop-padding 17px @desktop-padding;
  }
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 34px;

  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;

    font-size: 40px;
    line-height: 54.5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 41px;

    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  .list();
  display: grid;
  gap: 18px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 4px;
    row-gap: 41px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 8px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    &:last-of-type {
      padding-top: 4px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 300px;

    &:nth-of-type(odd) {
      grid-column-start: 1;
      grid-column-end: 4;
      justify-self: start;
    }

    &:last-of-type {
      grid-column-start: 2;
      grid-column-end: 6;
      justify-self: center;
    }

    &:nth-of-type(even) {
      grid-column-start: 4;
      grid-column-end: 7;
      justify-self: end;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-of-type(odd) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: auto;
      grid-row-end: auto;
      justify-self: start;
    }

    &:last-of-type {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: center;
    }

    &:nth-of-type(even) {
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-start: auto;
      grid-row-end: auto;
      justify-self: end;
    }
  }
}

.contacts__subtitle {
  margin-bottom: 0;

  font-size: 18px;
  line-height: 24.5px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
  }
}

.contacts__link {
  .button();

  font-size: 24px;
  line-height: 32.6px;
  font-weight: 300;
  text-align: center;
  color: @color-pink;

  &:hover {
    color: @color-blue;
    text-decoration: underline;
  }

  &:active {
    color: fade(@color-blue, 30%);
    text-decoration: none;
  }
}

.contacts__map img {
  width: 100%;
}
