.controls {
}

.controls__legend {
  color: @color-pink;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.controls__list {
  .list();
}

.controls__list--checkbox .controls__item {
  margin-bottom: 47px;
}

.controls__list--radio .controls__item {
  margin-bottom: 38px;
}

.controls__label-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
