.contest {

}

.contest__description {
  width: 280px;
  margin: 0 auto;
  padding: 54px 20px 13px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 460px;
    padding: 85px 100px 36px 100px;
  }

  @media (min-width: @desktop-width) {
    width: 756px;
    padding: 100px 222px 84px 222px;
  }
}

.contest__description span {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.contest__form-group-wrapper {
  background-color: @color-gray;

  @media (min-width: @tablet-width) {
    // background-color: @color-white;
  }
}

.contest__form-group {
  display: flex;
  flex-direction: column;
  width: 276px;
  margin: 0 auto;
  padding: 42px 22px 44px 22px;
  border: none;

  @media (min-width: @tablet-width) {
    width: 456px;
    padding: 0 22px 0 22px;
    margin-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    width: 756px;
    padding: 100px 132px 84px 132px;
  }
}

.contest__form-label {
  color: @color-pink;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}

.contest__form-label:not(:last-child) {
  margin-bottom: 29px;
}

.contest__form-field {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest__form-field::placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.contest__submit-container {
  padding: 8px 22px 26px 22px;
}

.contest__form-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.contest__form-footnote-mark {
  color: @color-pink;
}

.contest__popup {
  padding: 44px 22px 52px 22px;
}

.contest__popup-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.contest__popup-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
