.effects {

}

.effects__list {
  .list();
}

.effects__label {
  display: block;

  .effects__item--crop & {
    width: 44px;
    height: 44px;
  }

  .effects__item--fill & {
    width: 48px;
    height: 43px;
  }

  .effects__item--contrast & {
    width: 32px;
    height: 32px;
  }
}

.effects__label svg {
  @media (max-width: @mobile-width-only) {
    fill: fade(@color-blue, 30%);

    &:hover {
      fill: fade(@color-blue, 50%);
    }

    &:active {
      fill: @color-pink;
    }

    .effects__item--current & {
      fill: @color-pink;
    }
  }
}
