.form-grid {
  display: grid;

  grid-template-areas:
    "user"
    "achievements"
    "contacts"
    "applications"
    "rewiew"
    "button";

  @media (min-width: @tablet-width) {
    grid-template-areas:
      "user"
      "applications"
      "contacts"
      "achievements"
      "rewiew"
      "button";
    gap: 52px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 74px 69px;
    grid-template-areas:
      "user applications"
      "contacts contacts"
      "achievements achievements"
      "rewiew rewiew"
      "button button";
    align-items: end;
  }
}

.form-grid__user {
  grid-area: user;
}

.form-grid__achievements {
  grid-area: achievements;
}

.form-grid__contacts {
  grid-area: contacts;
}

.form-grid__applications {
  grid-area: applications;
}

.form-grid__rewiew {
  grid-area: rewiew;
}

.form-grid__button {
  grid-area: button;
}
