.information {
}

.information__head {
  padding: 46px @mobile-padding 35px @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
    padding-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px @desktop-padding 66px @desktop-padding;
  }
}

.information__slogan {
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    &:not(:last-of-type) {
      margin-bottom: 18px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54.5px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.information__content {
  background-color: @color-gray;

  padding-top: 80px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 59px;
  }
}

.information__content-wrapper {
  display: grid;
  grid-template-rows: min-content 277px;
  grid-template-areas:
    "features"
    "images";
  gap: 48px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "images features";
    gap: 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto;
    grid-template-rows: 301px min-content;
    grid-template-areas:
      "images"
      "features";
    gap: 59px;
  }
}

.information__features {
  grid-area: features;

  @media (min-width: @tablet-width) {
    padding: 75px 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.information__images {
  grid-area: images;

}

.information__features-list {
  .list();

  display: grid;
  gap: 43px;

  @media (min-width: @tablet-width) {
    gap: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;
  }
}

.information__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;

    font-size: 30px;
    line-height: 30px;
  }
}

.information__description {
  margin: 0;

  text-align: center;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.information__images-list {
  .list();
  height: 100%;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;
  }
}

.information__images-item {
  display: none;

  height: 100%;

  &--current {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.information__images-container {
  width: 157px;
  height: 100%;
  margin: 0 auto;

  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 268px;
    margin: 0;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    width: 186px;
    margin: 0 auto;
  }

  &--real {
    background-image: url("../../img/screen/screen-mobile-real.png");

    @media (min-width: @tablet-width) {
      background-image: url("../../img/screen/screen-tablet-real.png");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/screen/screen-desktop-real.png");
    }
  }

  &--pink {
    background-image: url("../../img/screen/screen-mobile-pink.png");

    @media (min-width: @tablet-width) {
      background-image: url("../../img/screen/screen-tablet-pink.png");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/screen/screen-desktop-pink.png");
    }
  }

  &--smile {
    background-image: url("../../img/screen/screen-mobile-smile.png");

    @media (min-width: @tablet-width) {
      background-image: url("../../img/screen/screen-tablet-smile.png");
    }

    @media (min-width: @desktop-width) {
      background-image: url("../../img/screen/screen-desktop-smile.png");
    }
  }
}
