.information {
}

.information__head-wrapper {
  padding-top: 46px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 58px;
    padding-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 77px;
    padding-bottom: 66px;
  }
}

.information__slogan {
  margin: 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 80px;
  }
}

.information__content-wrapper {
  background-color: @color-gray;
}

.information__list-wrapper {
  padding-top: 80px;
  padding-bottom: 325px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 301px;
    padding-bottom: 59px;
  }
}

.information__list {
  .list();

  display: grid;
  gap: 43px;

  @media (min-width: @tablet-width) {
    gap: 46px;

    width: 50%;
    margin-left: auto;
    padding: 84px 0 49px 0;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 68px;

    width: 100%;
    margin-left: 0;
    padding: 59px 0;
  }
}

.information__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.information__description {
  margin: 0;

  text-align: center;
}
