.intro {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--inner {
    display: block;
  }
}

.intro__head {
  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
  }
}

.intro__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    br {
      display: none;
    }
  }
}

.intro__slogan {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;

  br:first-of-type {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;

    br:first-of-type {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}


.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__download-button {
  .button();

  width: 100%;
  padding: 16px;
  margin-bottom: 32px;
  border: 3px solid @color-white;
  border-radius: 30px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  &:hover {
    color: @color-pink;
    background-color: @color-white;
    box-shadow: 0 5px 7px fade(@color-light-black, 75%);
  }

  &:active {
    color: fade(@color-pink, 30%);
    box-shadow: none;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
    border-radius: 29px;

    font-size: 21px;
  }
}

.intro__platforms {
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 53px;
  }
}

.intro__platforms-list {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 35px;
  align-items: center;

  max-width: 280px;
}

.intro__description {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
