.intro {

}

.intro__main-wrapper {
  padding-top: 29px;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-top: 102px;
    padding-bottom: 119px;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
    padding-bottom: 130px;
  }
}

.intro__inner-wrapper {
  min-height: 110px;
  padding-top: 36px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    height: 220px;
    padding-top: 81px;
    padding-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    height: 180px;
    padding-top: 74px;
    padding-bottom: 30px;
  }
}

.intro__main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-right: auto;
  }
}

.intro__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__slogan {
  margin: 0;
  margin-bottom: 348px;

  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;

    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;

    font-size: 50px;
    line-height: 68px;
  }
}

.intro__download-button {
  margin-bottom: 32px;
  border-color: @color-white;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.intro__logo-list {
  margin: 0 auto;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
  }
}

.intro__description {
  margin: 0;

  font-weight: 300;
  text-align: center;
}
