.intro {

}

.intro__wrapper {
  &--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 20px 38px 20px;

    @media (min-width: @tablet-width) {
      padding: 102px 340px 119px 20px;
    }

    @media (min-width: @desktop-width) {
      padding: 114px 766px 130px 130px;
    }
  }

  &--inner {
    height: 100px;
    padding: 36px 20px 35px 20px;

    @media (min-width: @tablet-width) {
      height: 220px;
      padding: 81px 20px 29px 20px;
    }

    @media (min-width: @desktop-width) {
      height: 180px;
      padding: 74px 20px 30px 20px;
    }
  }
}

.intro__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
}

.intro__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.intro__download-button {
  border-color: @color-white;
}

.intro__description {
  font-weight: 300;
  text-align: center;
}
