.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-nav__list {
  .list();
  display: none;
  
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 618px;
  }

  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }
}

.main-nav__item {
  height: 63px;
  border: 1px solid red;

  @media (min-width: @desktop-width) {
    height: 100%;
  }
}

.main-nav__link {
  .button();
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
