.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.main-nav__list {
  .list();

  @media (min-width: @desktop-width) {
    display: flex;
  }

  &--hide {
    display: none;
  }

  &--show {
    display: block;
  }
}

.main-nav__item {
  padding: 25px 20px;
}

.main-nav__link {
  .button();
  text-transform: uppercase;
}
