
.navigation-wrapper {
  width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.navigation-wrapper__bar {
  padding: 0 @mobile-padding;

  @media (min-width: @desktop-width) {
    width: 147px;
    padding: 0;
  }
}

.navigation-wrapper__menu {
  @media (min-width: @desktop-width) {
    width: 620px;
  }
}
