.page-header {
  color: @color-white;
  background-color: @color-dark-blue;
  background-image: url("../../img/back-header-small.png");
  background-size: 320px 462px;
  background-position: top;
  background-repeat: no-repeat;
}
