.page-footer {
  .wrapper();

  padding-top: 56px;
  padding-bottom: 56px;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 75px;
  }
}

.page-footer__wrapper {

}

.page-footer__content {
  // display: grid;
  // gap: 32px;
  // justify-items: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {

    display: grid;
    gap: 32px;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 234px 1fr;
    gap: 0;
  }
}

.page-footer__logo {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    justify-self: start;
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 54px);
  gap: 8px;

  max-width: 234px;

  @media (min-width: @desktop-width) {
    gap: 5px;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}

.copyright__link {
  position: relative;
}

.copyright__link-icon {
  position: absolute;
  top: -1px;
  left: 0;

  @media (min-width: @tablet-width) {
    top: 1px;
  }
}
