.page-footer {

}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 36px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}

.page-footer__content {
  display: grid;
  gap: 41px;
  justify-items: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 234px 1fr;
    gap: 0;
  }
}

.page-footer__logo {
  @media (min-width: @tablet-width) {
    justify-self: start;
  }
}

.page-footer__social-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 48px);
  gap: 15px;

  max-width: 234px;

  @media (min-width: @desktop-width) {
    gap: 11px;
  }
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    justify-self: end;
  }
}
