.page-header {
  color: @color-white;
  background-color: @color-dark-blue;
  background-image: url("../../img/back-header-small.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.page-header__navigation {
  padding: 21px 20px;
  background-color: @color-black;
  opacity: 0.3;
}
