.photos {
}

.photos__head {
  padding: 54px @mobile-padding 60px @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-top: 100px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px @desktop-padding 97px @desktop-padding;
  }
}

.photos__slogan {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 84px;

    font-size: 18px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 184px;
  }
}

.photos__panorama {
  width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.photos__img img {
  width: 100%;
}

.photos__content {
  padding: 0 @mobile-padding;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    padding: 0 @desktop-padding;
  }
}

.photos__list {
  .list();

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos__item {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.photos__description {
  position: relative;

  display: grid;
  gap: 11px;

  padding: 18px 10px 18px 17px;
  background-color: @color-gray;

  @media (min-width: @tablet-width) {
    padding: 23px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 31px 29px 29px 27px;
  }
}

.photos__blockquote {
  margin: 0;
  padding: 0;
}

.photos__blockquote-source {
  margin-bottom: 1px;
}

.photos__author {
  margin-right: 3px;

  font-weight: 700;
  font-style: normal;
}

.photos__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__review {
  margin: 0;
}

.photos__like {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    justify-content: space-between;

    &--panorama {
      position: absolute;
      top: 23px;
      right: 30px;

      min-width: 113px;
    }
  }
}

.photos__like-button {
  .button();
  width: 13px;
  height: 12px;

  margin-right: 18px;

  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    order: 2;

    margin-right: 0;
  }
}

.photos__like-caption {
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @color-pink;
}
