.platforms__list {
  .list();
}

.platforms__link {
  .button();

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.platforms__item--apple .platforms__link {
  width: 47px;
  height: 56px;
  background-image: url("../../img/platforms-logo/apple-logo.png");
}

.platforms__item--android .platforms__link {
  width: 43px;
  height: 47px;
  background-image: url("../../img/platforms-logo/android-logo.png");
}

.platforms__item--microsoft .platforms__link {
  width: 44px;
  height: 41px;
  background-image: url("../../img/platforms-logo/microsoft-logo.png");
}
