.price {
  background-color: @color-gray;
}

.price__wrapper {
  padding: 106px 0 49px 0;
  // padding-top: 106px;
  // padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding: 94px 20px 70px 20px;
    // padding-top: 94px;
    // padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 159px 130px 98px 130px;
    // padding-top: 159px;
    // padding-bottom: 98px;
  }
}

.price__table {
  width: 100%;
}

.price__toggles {
  max-width: 256px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

