.price {
  background-color: @color-gray;
}

.price__wrapper {
  padding: 103px 0 49px 0;

  @media (min-width: @tablet-width) {
    padding: 94px @tablet-padding 70px @tablet-padding;
  }

  @media (min-width: @desktop-width) {
    padding: 159px @desktop-padding 98px @desktop-padding;
  }
}

.price__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__table {
  width: 100%;

  @media (max-width: @mobile-width-only) {
    margin-bottom: 45px;
  }
}

.price__toggles {
  max-width: 256px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

