.price-table {
  border-spacing: 0;
  table-layout: fixed;

  line-height: 30px;
  vertical-align: middle;
}

.price-table__head {
  position: relative;

  box-sizing: border-box;
  padding: 12px 10px 29px 10px;

  text-align: center;
  color: @color-white;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 17px;
    padding-bottom: 20px;
  }

  background-color: @color-blue;
  border-bottom: 2px solid @color-blue;
  border-left: 2px solid @color-gray;

  &:first-of-type {
    background-color: transparent;
    border-bottom: 2px solid @color-dark-gray;
  }

  &:nth-of-type(2) {
    border-left: 2px solid @color-blue;
    border-radius: 3px 0 0 0;
  }

  &:last-of-type {
    border-right: 2px solid @color-blue;
    border-radius: 0 3px 0 0;
  }

  &:not(:first-of-type):not(:last-of-type)::after {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    right: -2px;
    background-color: red;
    z-index: 1;

    content: "";

    @media (min-width: @tablet-width) {
      z-index: 10;
    }
  }

  &--bestceller::before {
    position: absolute;
    width: 74px;
    height: 74px;
    top: 0;
    left: -2px;
    z-index: 10;

    background-image: url("../../img/icon-bestseller--mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    content: "";

    @media (min-width: @tablet-width) {
      width: 61px;
      height: 61px;
      left: 0;
      top: 0;
      z-index: 1;

      background-image: url("../../img/icon-bestseller--tablet.svg");
    }

    @media (min-width: @desktop-width) {
      width: 74px;
      height: 74px;
      left: 0;
      top: 0;

      background-image: url("../../img/icon-bestseller--mobile.svg");
    }
  }
}

.price-table__head-name {
  display: block;
  margin-bottom: -3px;

  font-size: 16px;
  font-weight: 700;

  @media (min-width: @desktop-width) {
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    font-size: 18px;
  }
}

.price-table__head-value {
  display: block;

  font-size: 18px;
  font-weight: 300;

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.price-table__cell {
  box-sizing: border-box;
  min-width: 239px;
  height: 49px;
  padding: 5px 17px 5px 20px;

  border-left: 2px solid @color-dark-gray;
  border-bottom: 2px solid @color-dark-gray;

  &:last-of-type {
    border-right: 2px solid @color-dark-gray;
  }

  @media (min-width: @tablet-width) {
    height: 45px;
    padding: 0;

    .price-table__row:first-of-type &:first-of-type {
      border-radius: 3px 0 0 0;
    }

    .price-table__row:last-of-type &:last-of-type {
      border-radius: 0 0 3px 0;
    }

    .price-table__row:last-of-type &:first-of-type {
      border-radius: 0 0 0 3px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }

  background-repeat: no-repeat;

  &--check {
    background-image: url("../../img/icon-check.svg");
    background-position: center right 17px;

    @media (min-width: @tablet-width) {
      background-position: center;
    }
  }

  &--uncheck {
    background-image: url("../../img/icon-uncheck.svg");
    background-position: center right 19px;

    @media (min-width: @tablet-width) {
      background-position: center;
    }
  }
}

.price-table__cell-tittles {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding: 0 15px;
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 21px;
    font-size: 18px;
  }
}

.price-table__annotation {
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
