.research {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    background-color: @color-gray;
  }
}

.research__wrapper {
  @media (min-width: @tablet-width) {
    min-height: 276px;
    padding-top: 54px;
    padding-bottom: 109px;
  }

  @media (min-width: @desktop-width) {
    min-height: 345px;
    padding-top: 17px;
    padding-bottom: 67px;

    background-color: @color-gray;
  }
}

.research__content-wrapper {
  @media (min-width: @tablet-width) {
    width: 50%;
    padding-top: 48px;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    width: 534px;
    padding-top: 98px;
  }
}

.research__slogan {
  margin: 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.research__text {
  margin: 0;
}

.research__link {
  color: @color-pink;
}
