.research {
  width: 100%;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.research__wrapper {
  @media (min-width: @tablet-width) {
    padding: 54px 20px 138px 330px;
  }

  @media (min-width: @desktop-width) {
    padding: 17px 166px 67px 500px;
    background-color: @color-gray;
  }
}

.research__slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.research__text {

}

.research__link {
  color: @color-pink;
}
