.reviews {
  padding: 50px @mobile-padding 40px @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 72px @desktop-padding 41px @desktop-padding;
  }
}

.reviews__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__list {
  .list ();
}

.reviews__blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 44px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;

    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 126px;
    margin-bottom: 47px;
  }
}

.reviews__auhtor {
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 2;

    margin-bottom: 17px;

    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__auhtor-details {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 3;
    margin-bottom: 49px;

    font-size: 14px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;

    font-size: 18px;
  }
}

.reviews__controls {
  display: none;

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 20px;
    content: "";

    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}

.reviews__control {

}

.reviews__toggles {
  max-width: 256px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
