.reviews {
  padding: 50px 20px 60px 20px;
}

.reviews__list {
  .list ();
}

.review__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.review__auhtor {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
