.scales {

}

.scales__list {
  .list();
}

.scales__item {
  @media (max-width: @mobile-width-only) {
    display: none;

    &--current {
      display: block;
    }
  }
}

.scales__range {
  width: 240px;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}
