.scales {

}

.scales__list {
  .list();
}

.scales__item {
  margin-bottom: 20px;
}

.scales__range {
  width: 240px;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 288px;
  }
}
