.slider {

}

.slider__toggles {
  .list();
  display: flex;

}

.slider__toggles-item:not(:last-child) {
  margin-right: 19px;
}

.slider__toggle {
  .button();
  width: 6px;
  height: 6px;
  background-color: @color-blue;
  border-radius: 50%;
}
