.upload {
  width: 100%;
}

.upload__slogan {
  padding: 49px 20px 52px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 73px 20px 78px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 67px 130px 75px 130px;
  }
}

.upload__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 41px 20px;
  background-color: @color-gray;
}

.upload__form-group {
  border: none;
}

.upload__buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__form-button {
  width: 100%;
  
  &--submit {
    color: @color-pink;
    border-color: @color-pink;
  }

  &--reset {
    color: @color-blue;
    border-color: @color-blue;
    opacity: 0.1;
  }
}
