.upload {
}

.upload__head-wrapper {
  padding-top: 49px;
  padding-bottom: 52px;

  @media (min-width: @tablet-width) {
    padding-top: 73px;
    padding-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 67px;
    padding-bottom: 75px;
  }
}

.upload__slogan {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.upload__content {
  background-color: @color-gray;

  @media (min-width: @desktop-width) {
    background-color: @color-white;
  }
}

.upload__content-wrapper {
  padding-top: 20px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.upload__form-wrapper {
  @media (min-width: @desktop-width) {
    padding: 57px 60px 57px 80px;

    background-color: @color-gray;
  }
}

.upload__form {
  display: grid;
  grid-template-columns: 280px;
  gap: 42px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 300px 275px;
    gap: 45px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 300px 410px;
    gap: 90px;
  }
}

.upload__form-group {
  border: none;
  margin: 0;
  padding: 0;
}

.upload__effects-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.upload__effects {
  margin-bottom: 20px;
}

.upload__effects-list {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.upload__effects-list li:not(:last-child) {
  margin-right: 35px;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }
}

.upload__scales-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.upload__buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.upload__form-button {
  width: 280px;
  height: 55px;

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  @media (min-width: @desktop-width) {
    width: 183px;
  }

  &--submit {
    color: @color-pink;
    border-color: @color-pink;
  }

  &--reset {
    color: @color-blue;
    border-color: @color-blue;
    opacity: 0.1;
  }
}
