.wrapper {
  width: @mobile-width - 40;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width - 40;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - 260;
    padding: 0 130px;
  }
}
