@font-page: "Open Sans", sans-serif;

@color-black: #000000;
@color-light-black: #010101;
@color-white: #ffffff;
@color-blue: #283645;
@color-dark-blue: #1D2631;
@color-pink: #D22856;
@color-green: #2AAB6D;
@color-dark-green: #1C9B5E;
@color-red: #F25B26;
@color-gray: #F2F2F2;
@color-dark-gray: #E5E5E5;

@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;

@mobile-width-only: @tablet-width - 1px;

@mobile-padding: 20px;
@tablet-padding: 20px;
@desktop-padding: 130px;

@mobile-form-padding: 22px;
@tablet-form-padding: 22px;
@desktop-form-padding: 132px;

@mobile-content: @mobile-width - 2 * @mobile-padding;
@tablet-content: @tablet-width -2 * @tablet-padding;
@desktop-content: @desktop-width -2 * @desktop-padding;

@mobile-form-content: @mobile-width - 2 * @mobile-form-padding;
@tablet-form-content: @tablet-width -2 * @tablet-form-padding;
@desktop-form-content: @desktop-width -2 * @desktop-form-padding;
