@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-display: swap;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.page {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.page__body {
  min-height: 100%;
  margin: 0;
  color: #283645;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.app-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}
.slider__toggles {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.slider__toggles-item:not(:last-child) {
  margin-right: 19px;
}
.slider__toggle {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 6px;
  height: 6px;
  background-color: #283645;
  border-radius: 50%;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  color: #ffffff;
  background-color: #1D2631;
}
.page-header__navigation {
  color: #ffffff;
  background-color: #283645;
}
@media (min-width: 1200px) {
  .page-header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
  }
}
.page-header__top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .page-header__top-menu {
    height: 110px;
  }
}
@media (min-width: 1200px) {
  .page-header__top-menu {
    padding: 0;
  }
}
.page-header__toggle {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 50px;
  height: 24px;
  background-color: #f50909;
}
@media (min-width: 1200px) {
  .page-header__toggle {
    display: none;
  }
}
.page-header__intro {
  width: 100%;
}
.main-nav {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    width: 618px;
  }
}
.main-nav__list--hide {
  display: none;
}
.main-nav__list--show {
  display: block;
}
.main-nav__item {
  height: 63px;
  border: 1px solid red;
}
@media (min-width: 1200px) {
  .main-nav__item {
    height: 100%;
  }
}
.main-nav__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.intro__wrapper--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 20px 38px 20px;
}
@media (min-width: 660px) {
  .intro__wrapper--main {
    padding: 102px 340px 119px 20px;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper--main {
    padding: 114px 766px 130px 130px;
  }
}
.intro__wrapper--inner {
  height: 100px;
  padding: 36px 20px 35px 20px;
}
@media (min-width: 660px) {
  .intro__wrapper--inner {
    height: 220px;
    padding: 81px 20px 29px 20px;
  }
}
@media (min-width: 1200px) {
  .intro__wrapper--inner {
    height: 180px;
    padding: 74px 20px 30px 20px;
  }
}
.intro__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
}
.intro__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}
.intro__download-button {
  border-color: #ffffff;
}
.intro__description {
  font-weight: 300;
  text-align: center;
}
.logo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 204px;
}
.logo-link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 47px;
  height: 36px;
  background-color: red;
}
.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information {
  width: 100%;
}
.information__slogan-wrapper {
  padding: 46px 20px 35px 20px;
}
@media (min-width: 660px) {
  .information__slogan-wrapper {
    padding: 58px 36px 38px 36px;
  }
}
@media (min-width: 1200px) {
  .information__slogan-wrapper {
    padding: 77px 210px 66px 210px;
  }
}
.information__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.information__list-wrapper {
  padding: 88px 20px 325px 20px;
  background-color: #F2F2F2;
}
@media (min-width: 660px) {
  .information__list-wrapper {
    padding: 0 20px 0 20px;
  }
}
@media (min-width: 1200px) {
  .information__list-wrapper {
    padding: 307px 154px 59px 184px;
  }
}
.information__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 660px) {
  .information__list {
    width: 50%;
    margin-left: 50%;
    padding: 84px 0 49px 0;
  }
}
@media (min-width: 1200px) {
  .information__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    padding: 59px 0;
  }
}
.information__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.information__description {
  text-align: center;
}
.research {
  width: 100%;
}
@media (max-width: 659px) {
  .research {
    display: none;
  }
}
@media (min-width: 660px) {
  .research__wrapper {
    padding: 54px 20px 138px 330px;
  }
}
@media (min-width: 1200px) {
  .research__wrapper {
    padding: 17px 166px 67px 500px;
    background-color: #F2F2F2;
  }
}
.research__slogan {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.research__link {
  color: #D22856;
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 50px 20px;
}
@media (min-width: 660px) {
  .reviews {
    padding: 109px 20px 20px 20px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding: 72px 130px 41px 130px;
  }
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.reviews__auhtor {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .reviews__auhtor {
    order: 2;
  }
}
.reviews__auhtor-details {
  display: none;
}
@media (min-width: 660px) {
  .reviews__auhtor-details {
    display: block;
    order: 2;
  }
}
@media (min-width: 1200px) {
  .reviews__toggles {
    display: none;
  }
}
.price {
  width: 100%;
  background-color: #F2F2F2;
}
.price__wrapper {
  padding: 101px 0 49px 0;
  background-color: #F2F2F2;
}
@media (min-width: 660px) {
  .price__wrapper {
    padding: 94px 20px 70px 20px;
  }
}
@media (min-width: 1200px) {
  .price__wrapper {
    padding: 159px 130px 98px 130px;
  }
}
.price__table {
  width: 100%;
}
.price__table-header {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}
.price__table-header--empty {
  background-color: transparent;
}
.price__table-header-name {
  font-weight: 700;
}
.price__table-header-value {
  font-weight: 300;
}
.price__table-cell {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
.price__table-cell--yes::before {
  content: "Yes";
}
.price__table-cell--no::before {
  content: "No";
}
@media (min-width: 660px) {
  .price__toggles {
    display: none;
  }
}
.contacts {
  width: 100%;
}
.contacts__wrapper {
  padding: 47px 39px 41px 39px;
}
@media (min-width: 660px) {
  .contacts__wrapper {
    padding: 55px 49px 30px 49px;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    padding: 74px 160px 26px 160px;
  }
}
.contacts__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 660px) {
  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.contacts__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.contacts__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  color: #D22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
.contacts__map img {
  width: 100%;
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}
@media (min-width: 660px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 20px 40px 20px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 74px 160px 26px 160px;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 14px;
}
.social__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: red;
}
.copyright__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
.copyright__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.page-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.photo__slogan {
  padding: 54px 20px 60px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .photo__slogan {
    padding: 100px 20px 85px 20px;
  }
}
@media (min-width: 1200px) {
  .photo__slogan {
    padding: 100px 130px 97px 130px;
  }
}
.photo__panorama {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo__wrapper {
  width: 280px;
  padding: 0 20px;
}
@media (min-width: 660px) {
  .photo__wrapper {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .photo__wrapper {
    width: 940px;
    padding: 0 130px;
  }
}
.photo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 660px) {
  .photo__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .photo__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.photo__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 17px;
  background-color: #F2F2F2;
}
@media (min-width: 660px) {
  .photo__description {
    height: 95px;
    padding: 30px 30px;
  }
}
@media (min-width: 1200px) {
  .photo__description {
    padding: 31px 31px 29px 27px;
  }
}
.photo__blockquote {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.photo__author {
  font-weight: 700;
  font-style: normal;
}
.photo__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}
.photo__text {
  margin: 0;
}
.photo__like {
  display: flex;
  align-items: center;
}
@media (min-width: 660px) {
  .photo__like {
    justify-content: space-between;
  }
}
.photo__like-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 13px;
  height: 12px;
  background-color: #a30808;
}
@media (min-width: 660px) {
  .photo__like-button {
    order: 2;
  }
}
.photo__like-text {
  margin: 0;
  color: #D22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.upload {
  width: 100%;
}
.upload__slogan {
  padding: 49px 20px 52px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  .upload__slogan {
    padding: 73px 20px 78px 20px;
  }
}
@media (min-width: 1200px) {
  .upload__slogan {
    padding: 67px 130px 75px 130px;
  }
}
.upload__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F2F2;
}
@media (min-width: 1200px) {
  .upload__form-wrapper {
    background-color: #ffffff;
  }
}
.upload__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 20px 20px 41px 20px;
}
@media (min-width: 660px) {
  .upload__form {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    padding: 57px 20px 54px 20px;
  }
}
@media (min-width: 1200px) {
  .upload__form {
    width: 800px;
    padding: 57px 80px 57px 60px;
    background-color: #F2F2F2;
  }
}
.upload__form-group {
  border: none;
  margin: 0;
  padding: 0;
}
.upload__form-group-wrapper {
  width: 280px;
}
@media (min-width: 660px) {
  .upload__form-group-wrapper {
    width: 275px;
  }
}
@media (min-width: 1200px) {
  .upload__form-group-wrapper {
    width: 410px;
  }
}
.upload__effects-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 660px) {
  .upload__effects-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
.upload__effects {
  margin-bottom: 20px;
}
.upload__effects-list {
  display: flex;
}
@media (min-width: 660px) {
  .upload__effects-list {
    flex-direction: column;
  }
}
.upload__effects-list li:not(:last-child) {
  margin-right: 35px;
}
@media (min-width: 660px) {
  .upload__effects-list li:not(:last-child) {
    margin-bottom: 52px;
  }
}
@media (min-width: 660px) {
  .upload__scales-list {
    display: flex;
    flex-direction: column;
  }
}
.upload__buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .upload__buttons-group {
    flex-direction: row;
    justify-content: space-between;
  }
}
.upload__form-button {
  width: 260px;
  height: 55px;
}
@media (min-width: 1200px) {
  .upload__form-button {
    width: 183px;
  }
}
.upload__form-button--submit {
  color: #D22856;
  border-color: #D22856;
}
.upload__form-button--reset {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}
.effects__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.effects__label {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #D22856;
}
@media (min-width: 660px) {
  .effects__label {
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 1200px) {
  .effects__label {
    width: 44px;
    height: 44px;
  }
}
.scales__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.scales__item {
  margin-bottom: 20px;
}
.scales__range {
  width: 240px;
}
.range-scale {
  height: 2px;
  background-color: #283645;
}
.contest__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.contest__form-group {
  margin: 0;
  padding: 42px 22px;
  border: none;
}
.contest__form-label {
  color: #D22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}
.contest__form-field::placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.contest__form-field {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.contest__submit-container {
  padding: 8px 22px 26px 22px;
}
.contest__form-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.contest__form-footnote-mark {
  color: #D22856;
}
.contest__popup {
  padding: 44px 22px 52px 22px;
}
.contest__popup-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.contest__popup-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.controls {
  background-color: #F2F2F2;
}
.controls__legend {
  color: #D22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.controls__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.controls__label-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.contest-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2AAB6D;
  border-width: 2px;
  border-style: solid;
  border-color: #2AAB6D;
  border-radius: 1px;
}
/*# sourceMappingURL=style.css.map */
