@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-display: swap;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.page__body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.app-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
}
.slider__toggles {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.slider__toggle {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.page-header {
  color: #ffffff;
  background-color: #1D2631;
  background-image: url("../../img/back-header-small.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.page-header__navigation {
  padding: 21px 20px;
  background-color: #000000;
  opacity: 0.3;
}
.main-nav {
  color: #ffffff;
  background-color: #283645;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.main-nav__toggle {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 50px;
  height: 24px;
  background-color: #f50909;
}
.main-nav__list--hide {
  display: none;
}
.main-nav__list--show {
  display: block;
}
.site-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-list__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  text-transform: uppercase;
}
.intro--main {
  padding: 32px 20px 38px 20px;
}
.intro--inner {
  padding: 36px 20px 36px 20px;
}
.intro__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
}
.intro__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}
.intro__download-button {
  border-color: #ffffff;
}
.intro__description {
  font-weight: 300;
}
.logo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.logo-link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.information {
  padding: 46px 20px 0 20px;
}
.information__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.information__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.information__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.information__description {
  text-align: center;
}
.reviews {
  padding: 50px 20px 60px 20px;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.review__text {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.review__auhtor {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.price {
  padding: 81px 0 49px 0;
  background-color: #F2F2F2;
}
.price-table__header {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: #283645;
}
.price-table__header--empty {
  background-color: transparent;
}
.price-table__header-name {
  font-weight: 700;
}
.price-table__header-value {
  font-weight: 300;
}
.price-table__cell {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
.price-table__cell--yes::before {
  content: "Yes";
}
.price-table__cell--no::before {
  content: "No";
}
.contacts {
  padding: 47px 39px 41px 39px;
}
.contacts__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contacts__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.contacts__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  color: #D22856;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
.page-footer {
  padding: 20px 40px;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.copyright__text {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
.copyright__link {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
}
.photo {
  padding: 54px 20px 0 20px;
}
.photo__slogan {
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.photo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.photo__description {
  padding: 25px 10px 25px 17px;
  background-color: #F2F2F2;
}
.photo__blockquote {
  margin: 0;
  padding: 0;
}
.photo__author {
  font-weight: 700;
  font-style: normal;
}
.photo__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}
.photo__like-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  width: 13px;
  height: 12px;
  background-color: #a30808;
}
.photo__like-text {
  color: #D22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.upload__slogan {
  padding: 49px 20px 42px 20px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.upload__form {
  padding: 20px 20px 41px 20px;
  background-color: #F2F2F2;
}
.upload__form-group {
  border: none;
}
.upload__form-button--submit {
  color: #D22856;
  border-color: #D22856;
}
.upload__form-button--reset {
  color: #283645;
  border-color: #283645;
  opacity: 0.1;
}
.effects-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.effects-list__label {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #D22856;
}
.contest__description {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}
.contest__form-group {
  margin: 0;
  padding: 42px 22px;
  border: none;
}
.contest__form-label {
  color: #D22856;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: left;
}
.contest__form-field::placeholder {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.contest__form-field {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}
.contest__submit-container {
  padding: 8px 22px 26px 22px;
}
.contest__form-footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.contest__form-footnote-mark {
  color: #D22856;
}
.contest__popup {
  padding: 44px 22px 52px 22px;
}
.contest__popup-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.contest__popup-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.controls {
  background-color: #F2F2F2;
}
.controls__legend {
  color: #D22856;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.controls__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.controls__label-text {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.contest-button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font: inherit;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2AAB6D;
  border-width: 2px;
  border-style: solid;
  border-color: #2AAB6D;
  border-radius: 1px;
}
/*# sourceMappingURL=style.css.map */
